<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
<meta charset="utf-8"/>
<title>Note List</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
	<div class="container h-100">

		<div class="row" style="margin-top: 20px">
			<h2>Note List for :
				 <span class="text-secondary fw-light" th:text="${patientName}"></span>
			</h2>
		</div>

		<div class="row justify-content_center">
			<div class="col-12">
				<a class="btn btn-primary btn-sm" th:href="@{/note/addForm/{patientId}(patientId=${patient.id})}"
				   style="margin-bottom: 10px">Add New Note</a>
				<!-- controller url-->
			</div>

			<table class="table table-bordered table-striped table-hover text-center" style="margin-top: 10px">
				<thead>
					<tr>
						<th>Id</th>
						<th>Date</th>
						<th>Recommendation</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="note : ${notes}">
						<td th:text="${note.id}" style="width: 20%"></td>
<!--						<td th:text="${note.patientId}"></td>-->
						<td th:text="${note.date}" style="width: 15%" ></td>
						<td th:text="${note.recommendation}" ></td>


						<td style="width: 15%" class="text-center">
							<a class="btn btn-primary"
							   th:href="@{/note/showUpdateForm/{id}/{patientId} (id=*{note.id},patientId=*{note.patientId})}">Edit
							</a>&nbsp;|<!-- url controller-->
							<a class="btn btn-danger btn-sm"
							   th:href="@{/note/delete/{id}(id=${note.id})}">Delete
							</a><!--
							 url controller -->
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<a class="btn btn-danger btn-sm" href="/patient/list" style="margin-bottom: 10px" >Cancel</a>
	</div>
</body>
</html>