<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
<head>
    <title> Spring Boot </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="position-absolute top-50 start-50 translate-middle" style=" padding-right:100px">

<div class="container text-center">
    <div class="logo d-flex justify-content-center align-middle">
            <a th:href="@{/patient/list}" title="Go to Mediscreen application">
                <img src="http://localhost:63342/Projet9_Mediscreen/frontMediscreen.main/images/logo1.png"
                     alt="logo" width= 70%> </a>
            <a style="margin-top: 60px"> <h1> Mediscreen </h1></a>
    </div>

</div>
</body>
</html>